.loginContainer {
  width: 410px;
  box-sizing: border-box;
}

.loginContainerBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border: rgb(223, 223, 223) solid 1px;
  border-radius: 5px;
  padding: 40px 9px 27px 9px;
  /* padding: 48px 40px 36px; */
}

.loginContainerHeader {
  margin: 0 4% 1%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.loginInlineTitle {
  font-family: roboto, 'Noto Sans Myanmar UI', arial, sans-serif;
  margin-bottom: 2%;
  font-size: 22px;
  margin: 0 auto;
}

.loginContainerHeaderText {
  font-family: 'Noto Sans Myanmar UI', arial, sans-serif;
  font-size: 24px;
  line-height: 1.3333;
  font-size: 22px;
  margin: 0 auto;
  padding-top: 15px;
}

.loginContainerHeaderText1 {
  font-family: roboto, 'Noto Sans Myanmar UI', arial, sans-serif;
  color: #202124;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .1px;
  line-height: 1.5;
  padding-bottom: 27px;
  margin: auto;
}

.form {
  width: 100%;
}

.formContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.formInput {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.formInputField {
  width: 100%;
  height: 9vh;
  margin: 2%;
}

.regImg {
  width: 60%;
  height: 100%;
  /* margin-top: -88px; */
}

.imgText {
  text-align: center;
  margin: 0%;
  font-family: 'Noto Sans Myanmar UI', arial, sans-serif
}

.footerButtonsSign {
  width: 97%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 21px 10px 13px 0px;
}



@media only screen and (max-width: 400px)  {
  .loginContainerBox {
      border: 1px solid black;
      margin-top: 40px;
      padding: 38px -2px 52px 41px;
      margin-left: 5px;
      box-sizing: border-box;
  }
  .loginContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-right: 51px;
  }
  .formInput {
      display: flex;
      flex-direction: column;
  }
  .regImg {
      display: none;
  }
}


@media (min-width: 401) and (max-width: 601px)   {
  .loginContainerBox {
      border: 1px solid black;
      margin-top: 40px;
      padding: 38px -2px 52px 41px;
      margin-left: 5px;
      box-sizing: border-box;
  }
  .loginContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-right: 51px;
  }
  .formInput {
      display: flex;
      flex-direction: column;
  }
  .regImg {
      display: none;
  }
}